.container {
  display: flex;
  flex-direction: column;

  max-height: 100%;
  overflow-y: auto;

  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

.banner {
  flex-shrink: 0;

  width: 100%;
  height: min(33vh, 199px);

  background: var(--twitter);

  position: relative;
}

.avatar {
  width: max(45px, min(135px, 22vw));
  height: max(45px, min(135px, 22vw));

  border: 3.75px solid var(--primary);
  background: var(--gray);
  border-radius: 50%;

  position: absolute;
  bottom: max(-60px, -10vw);
  left: 15px;
}

.profile-data {
  padding: min(calc(10vw + 7px), 67px) 16px 0;

  display: flex;
  flex-direction: column;

  position: relative;
}

.profile-data h1 {
  font-weight: bold;
  font-size: 15px;
}

.profile-data h2 {
  font-weight: normal;
  font-size: 15px;

  color: var(--gray);
}

.profile-data p {
  font-size: 15px;
  margin-top: 11px;
}

.profile-data p a {
  text-decoration: none;
  color: var(--twitter);
}

.profile-data ul {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-data ul li {
  font-size: 15px;
  color: var(--gray);
}

.profile-data ul li svg {
  fill: var(--gray);
  margin-right: 5px;
}

.follow-age {
  display: flex;
}

.follow-age span {
  font-size: 15px;
  color: var(--gray);
}

.follow-age span + span {
  margin-left: 20px;
}

svg {
  width: 20px;
  height: 20px;

  color: var(--gray);
}
