.containerProfilePage {
  display: flex;
  flex-direction: column;

  max-height: 100%;
  overflow-y: auto;

  scrollbar-width: none; /* Firefox */
}

.containerProfilePage::-webkit-scrollbar {
  display: none;
}

.banner {
  flex-shrink: 0;

  width: 100%;
  height: min(33vh, 199px);

  background: var(--twitter);

  position: relative;
}

.avatarProfilePage {
  width: max(15px, min(135px, 22vw));
  height: max(15px, min(135px, 22vw));

  border: 3.75px solid var(--primary);
  background: var(--gray);
  border-radius: 50%;

  position: absolute;
  bottom: max(-60px, -10vw);
  left: 15px;
}

.profileData {
  padding: min(calc(10vw + 7px), 67px) 16px 0;

  display: flex;
  flex-direction: column;

  position: relative;
}

.profileData h1 {
  font-weight: bold;
  font-size: 19px;
}

.profileData h2 {
  font-weight: normal;
  font-size: 15px;

  color: var(--gray);
}

.profileData p {
  font-size: 15px;
  margin-top: 11px;
}

.profileData p a {
  text-decoration: none;
  color: var(--twitter);
}

.profileData ul {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profileData ul li {
  font-size: 15px;
  color: var(--gray);
}

.profileData ul li svg {
  fill: var(--gray);
  margin-right: 5px;
}

.locationOn,
.cake {
  width: 20px;
  height: 20px;

  color: var(--gray);
}

.followAge {
  display: flex;
}

.followAge span {
  font-size: 15px;
  color: var(--gray);
}

.followAge span + span {
  margin-left: 20px;
}

.outlined {
  position: absolute;
  top: 2vw;
  right: 7px;

  padding: 4px 16px;
  font-size: 13px;

  border-radius: 25px;

  font-weight: bold;

  cursor: pointer;
  outline: 0;

  background: transparent;
  color: var(--twitter);
  border: 1px solid var(--twitter);
}

@media (min-width: 320px) {
  .outlined {
    top: 10px;
    padding: 10px 19px;
    font-size: 15px;
  }
}

.outlined:hover {
  background: var(--twitter-dark-hover);
}
