button {
  padding: 16px;
  border-radius: 25px;

  font-weight: bold;
  font-size: 15px;

  cursor: pointer;
  outline: 0;
}

button .outlined {
  background: transparent;
  color: var(--twitter);
  border: 1px solid var(--twitter);
}

button .outlined:hover {
  background: var(--twitter-dark-hover);
}

button .normal {
  background: var(--twitter);
  color: var(--white);
  border: none;
}

button .normal:hover {
  background: var(--twitter-light-hover);
}
