.containerList {
  display: flex;
  flex-direction: column;
  background: var(--secondary);
  border-radius: 14px;
}

.itemList {
  padding: 10px 16px;
}

.itemList + .itemList {
  border-top: 1px solid var(--outline);
}

.itemList:first-child {
  padding-top: 13px;
}

.itemList:last-child {
  padding-bottom: 17px;
}

.title {
  font-weight: bold;
  font-size: 19px;
}
