.containerTweet {
  display: flex;
  flex-direction: column;

  padding: 14px 16px;

  border-bottom: 1px solid var(--outline);

  max-width: 100%;
}

.retweeted {
  display: flex;
  align-items: center;

  font-size: 13px;
  color: var(--gray);
}

/* .replySharp {
  width: 16px;
  height: 16px;

  margin-left: 35px;
  margin-right: 9px;

  fill: var(--gray);
} */

.body {
  display: flex;
  margin-top: 3px;

  position: relative;
}

.avatarTweet {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  flex-shrink: 0;
  background: var(--gray);

  position: absolute;
  top: 0;
  left: 0;
}

.content {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 2px;
  padding-left: 59px;
}

.headerTweet {
  display: flex;
  align-items: center;

  font-size: 15px;
  white-space: nowrap;
}

.headerTweet strong {
  margin-right: 5px;
}

.headerTweet span,
time {
  color: var(--gray);
}

.headerTweet strong,
span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dot {
  background: var(--gray);
  width: 2px;
  height: 2px;
  margin: 0 10px;
}

.description {
  font-size: 14px;
  margin-top: 4px;
}

.imageContent {
  margin-top: 12px;
  width: 100%;
  height: min(258px, max(175px, 41vw));

  background: var(--outline);
  border-radius: 14px;

  cursor: pointer;
}

.imageContent:hover {
  opacity: 0.7;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 11px auto 0;
  width: 100%; /* Mobile */
}

@media (min-width: 330px) {
  .icons {
    width: 63%;
  }
}

.icons div {
  cursor: pointer;
}

.icons div:hover {
  opacity: 0.7;
}

.status {
  display: flex;
  align-items: center;

  font-size: 14px;
}

.status svg {
  margin-right: 5px;
}

.icons :nth-child(1),
.icons :nth-child(1) svg {
  color: var(--gray);
}

.icons :nth-child(2) {
  color: var(--retweet);
}

.icons :nth-child(2) svg {
  fill: var(--retweet);
}

.icons :nth-child(3) {
  color: var(--like);
}

.icons :nth-child(3) svg {
  fill: var(--like);
}

.iconCss .commentIcon {
}

.iconCss .retweetIcon {
}

.iconCss .likeIcon {
}
